/* ... (seus estilos globais existentes) ... */


.project {
  background-color: #a0b5ee; /* Cor de fundo azul escuro */
  color: #fff; /* Cor do texto branco */
  text-align: center;
  padding: 20px;
  border: 1px solid #061546;
}

.project h3 {
  margin-top: 0;
  color: #0f104e;
}

/* Estilos para os links de ação */
.action-link {
  display: inline-block;
  background-color: #2980b9;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.action-link:hover {
  background-color: #3498db;
}

/* Estilos para as seções de conteúdo */
.main-content {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
}

/* Estilo para os títulos das seções */
.main-content h2 {
  color: #2c3e50;
}

/* Estilos para os artigos de ideias */
.post {
  background-color: #a0b5ee;
  border: 1px solid #061546;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.post h2 {
  font-size: 24px;
  color: #2c3e50;
}

.post p {
  font-size: 16px;
  color: #333;
}

/* Estilos para os botões "Leia mais" */
.read-more {
  display: inline-block;
  background-color: #3795d3;
  color: #fff;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.read-more:hover {
  background-color: #3795d3;
}


