{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
  {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mensagem in messages %}
            <div class="alert alert-success" role="alert">
                {{ mensagem }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <h2 class="mb-4">Editar</h2>
  <form action="" method="post" class="needs-validation" novalidate>
    
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{ session['nome'] }}">
        <div class="invalid-feedback">
          Por favor, digite o seu nome.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="sobrenome" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{ session['sobrenome'] }}" >
        <div class="invalid-feedback">
          Por favor, digite o seu sobrenome.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ session['email'] }}">
        <div class="invalid-feedback">
          Por favor, digite um email válido.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" >
        <div class="invalid-feedback">
          Por favor, digite a sua senha.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</section>
{% endblock %}
