{% extends 'base.html' %}

{% block conteudo %}
<section>
    <!-- Conteúdo da terceira seção -->
    <h2>Viagens</h2>

    <ul>
        
            <p>Explore alguns dos destinos mais populares que atraem viajantes de todo o mundo:</p>
            <ul>
                <li>Paris, França - A cidade do amor e das luzes.</li>
                <li>Tóquio, Japão - A metrópole futurística com uma rica tradição cultural.</li>
                <li>Rio de Janeiro, Brasil - As belas praias e o famoso Carnaval.</li>
                <li>Sydney, Austrália - A icônica Ópera de Sydney e a Sydney Harbour Bridge.</li>
                <li>Cairo, Egito - As majestosas pirâmides de Gizé e a Esfinge.</li>
   
    </ul>

</section>

{% endblock %}